Source: domgrep
Section: utils
Priority: optional
Maintainer: Mahros Al-Qabasy <mahros.elqabasy@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0
Homepage: https://github.com/mahros-alqabasy/domgrep

Package: domgrep
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Linux domain grep tool for regex and plain text domain search.
 A professional Linux tool to grep domains using regex or text patterns.
