Package: domgrep
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Mahros mahros.elqabasy@gmail.com
Description: A Linux domain grep tool for regex and plain text domain search.
 A professional Linux tool to grep domains using regex or text patterns.
